@using Courier.Helpers
@inject UserManager<AppUser> _userManager
@{
    var user = await _userManager.GetUserAsync(User);
    var displayName = string.IsNullOrEmpty(user.FullName) ? '@' + user.UserName : user.FullName;
    var secondaryName = string.IsNullOrEmpty(user.FullName) ? null : '@' + user.UserName;
}

<div class="nav-item dropdown">
    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
        <span class="avatar avatar-sm" style="background-image: url('@GravatarHelper.GenerateAvatar(user.Email)')"></span>
        <div class="d-none d-xl-block ps-2">
            <div>@displayName</div>
            @if (secondaryName is not null)
            {
                <div class="mt-1 small text-muted">@secondaryName</div>
            }
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <a asp-page="/Account/PersonalTokens" class="dropdown-item">Personal tokens</a>
        <a asp-page="/Account/Profile" class="dropdown-item">Profile</a>
        <div class="dropdown-divider"></div>
        <a asp-page="/Account/ChangePassword" class="dropdown-item">Change password</a>
        <a asp-page="/Logout" class="dropdown-item">Logout</a>
    </div>
</div>