@page
@model Courier.Pages.Account.ChangePassword
@{
    ViewData["Title"] = "Change password";
    ViewData["Navigation"] = "Account";
}

@section PageTitle {
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <div class="page-pretitle">
                    Account
                </div>
                <h2 class="page-title">
                    Change password
                </h2>
            </div>
        </div>
    </div>
}

<div class="container-tight py-4">
    <form method="post" class="card card-md">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Change your password</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <input asp-for="Input.OldPassword" type="text" class="form-control">
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <input asp-for="Input.NewPassword" type="text" class="form-control">
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" type="text" class="form-control">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">Save changes</button>
            </div>
        </div>
    </form>
</div>